.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.application-fill           { fill: fb-cyan; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

#imgSignal {
  opacity: 1;
}

#signalRing {
  opacity: 0;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#phiRect{
  fill: fb-cyan;
}

.plus-button1 #image {
  href: "images/stat_dist_solid_48px.png";
}
.plus-button2 #image {
  href: "images/icon48.png";
}
.plus-button3 #image {
  href: "images/trashIcon.png"
}

#btnSave {
  x: 20;
  y: 250;  
}

#btnReturn {
  x: 240;
  y: 250;
}

#btnDelete {
  x: 240;
  y: 15%;
}

#btnReturn #text {
  text-buffer: "Return";
}

#btnConfirmDeletion #text {
  text-buffer: "Yes";
}

#btnCancelDeletion #text {
  text-buffer: "No";
}

#toggleDisplayButton{
  fill: green;
}

.list-item {
  height: 112;
}

.list-item text {
  fill: "white";
  text-anchor: middle;
  x: 50%;
  font-size: 24;
  text-length: 20;
}

.line {
  width: 100%;
  height: 6;
  fill: #222222;
  y: 100%-6;
}

.bg {
  fill: #111111;
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}
